h1 {
    color: blue;
}


body {
    background-color:lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color:lightcyan;
    /* text-align: center; */
    position: absolute;
}

dt {
    font-weight: bold;
}